@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
   font-family: 'Roboto', sans-serif;
   display: grid;
   grid-template-columns: max-content 3fr;
   grid-template-rows: max-content 10fr max-content;
   height: 100vh;
}

h1{
   margin: 0;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   background-color: rgb(219, 140, 108);
   color: whitesmoke;
   grid-column: 1 / 3;
}

nav{
display: flex;
gap: 15px;
}


nav a{
text-decoration: none;
color: whitesmoke;
}

aside{
   background-color: rgb(61, 64, 60);
   color: whitesmoke;
   padding: 16px;
   padding-top: 32px;
   align-items: center;
   display: flex;
   flex-direction: column;
}

.before-form{
   margin-top: 64px;
   display: grid;
   grid-template-columns: max-content max-content;
   row-gap: 32px;
   column-gap: 8px;
   border: 1px solid rgb(248, 246, 244);
   border-radius: 10px;
   padding: 16px;
   background-color: hsl(23, 8%, 40%);
   transform: scale(0.00);
   visibility: hidden;
}

.after-form{
   margin-top: 64px;
   display: grid;
   grid-template-columns: max-content max-content;
   row-gap: 32px;
   column-gap: 8px;
   border: 1px solid rgb(248, 246, 244);
   border-radius: 10px;
   padding: 16px;
   background-color: hsl(23, 8%, 40%);
   transition: ease-out 500ms;
   transform: scale(1)
}

#form p{
   grid-column: 1/3;
   margin: 0;
}

#form input[type="checkbox"]{
   margin-right: auto;
}


#form input[type="text"],
form input[type="number"]{
   width: 120px;
   background-color: rgb(248, 246, 244);
   border: none;
   border-radius: 10px;
   padding: 3px;
}

#book-submit{
   grid-column: 1 / 3;
   width: 50%;
   justify-self: end;
   background-color: rgb(219, 140, 108);;
   border: none;
   border-radius: 10px;
   color: whitesmoke;
   padding:  6px 18px;
   transition: 100ms;
}

#book-submit:hover, #new-book:hover{
   cursor: pointer;
   background-color: hsl(17, 66%, 60%);
   transform: translateY(0.05em);
}


#book-submit:active, #new-book:active{
   cursor: pointer;
   background-color: hsl(17, 70%, 40%);
   transform: translateY(0.1em);
}


footer{
   background-color: rgb(219, 140, 108);
   grid-column: 1/3;
   color: whitesmoke;
   padding:  24px 18px;
}

main{
   background-color: rgb(209, 198, 191);
   padding: 16px;
}

.library{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 30px;
   grid-template-rows: auto;
}

.valid{
   margin: 0;
   background-color: rgb(15, 152, 15);
   padding: 3px;
   border-radius: 3px;
   display: flex;
   justify-content: space-between;
   grid-column: 1/3;
}

#close{
   font-size: 1rem;
}

#close:hover{
   color: white;
   cursor: pointer;
}

#new-book{
   background-color: rgb(219, 140, 108);;
   border: none;
   border-radius: 10px;
   color: whitesmoke;
   padding:  6px 18px;
   transition: 100ms;
   margin-top: 32px;
}

.card{
   background-color: whitesmoke;
   border-radius: 8px;
   border-left: 8px solid rgb(235	166 32);
   padding: 32px;
   color: black;
   font-weight: 200;
}